Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
!!{{{ Global Colors
*.font:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
*.italicFont:     -*-dina-medium-i-*-*-10-*-*-*-*-*-*-*
*.boldFont:       -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
*.boldItalicFont: -*-dina-bold-i-*-*-10-*-*-*-*-*-*-*

*.cursorColor:   #FFAA88

!! default bg/fg
*.background:    #221111
*.foreground:    #EEDDDD

! black dark/light
*.color0:        #111122
*.color8:        #888899

! red dark/light
*.color1:        #FF7777
*.color9:        #FF7777

! green dark/light
*.color2:        #77FF77
*.color10:       #77FF77

! yellow dark/light
*.color3:        #FFFF77
*.color11:       #FFFF77

! blue dark/light
*.color4:        #7777FF
*.color12:       #7777FF

! magenta dark/light
*.color5:        #FF77FF
*.color13:       #FF77FF

! cyan dark/light
*.color6:        #77FFFF
*.color14:       #77FFFF

! white dark/light
*.color7:        #BBBBDD
*.color15:       #DDDDEE
!!}}}
!!{{{ Rxvt
!set up triple click grabs logical line
Rxvt.tripleclickwords:       false

!Font
Rxvt.font:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*,-*-ipamonagothic-*-r-*-*-*-*-*-*-*-*-iso10646-*
Rxvt.italicFont:     -*-dina-medium-i-*-*-10-*-*-*-*-*-*-*,-*-ipamonagothic-*-r-*-*-*-*-*-*-*-*-iso10646-*
Rxvt.boldFont:       -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*,-*-ipamonagothic-*-r-*-*-*-*-*-*-*-*-iso10646-*
Rxvt.boldItalicFont: -*-dina-bold-i-*-*-10-*-*-*-*-*-*-*,-*-ipamonagothic-*-r-*-*-*-*-*-*-*-*-iso10646-*
Rxvt.letterSpace: 1

!! Font keybinds
!! 4x6. tiny font

!! Disable ctrl+shift shit
Rxvt.iso14755: false
Rxvt.iso14755_52: false

! set up fading on no focus
Rxvt.fading: 20%
Rxvt.shading: 15

! set pastable tabs
Rxvt.pastableTabs:  true

! No Scrolling
Rxvt.scrollBar: false
Rxvt.scrollTtyOutput: false
Rxvt.saveLines:0
Rxvt.scrollTtyKeypress: true

! No Borders
Rxvt.borderLess:     false
Rxvt.internalBorder: 0
Rxvt.externalBorder: 0

Rxvt.perl-ext-common: default,matcher,-option-popup,-selection-popup,confirm-paste
Rxvt.url-launcher:    palemoon

Rxvt.cutchars:        "`()'*<>[]{|│}"

Rxvt.visualBell:     false
Rxvt.urgentOnBell:   true

!!{{{ Colors
Rxvt.transparent:    true
Rxvt.intensityStyles:true

Rxvt.underlineColor:    #7777FF
! black dark/light
Rxvt.color0:        [70]#111122
Rxvt.color8:        [80]#888899

! red dark/light
Rxvt.color1:        [70]#FF7777
Rxvt.color9:        [80]#FF7777

! green dark/light
Rxvt.color2:        [70]#77FF77
Rxvt.color10:       [80]#77FF77

! yellow dark/light
Rxvt.color3:        [70]#FFFF77
Rxvt.color11:       [80]#FFFF77

! blue dark/light
Rxvt.color4:        [70]#7777FF
Rxvt.color12:       [80]#7777FF

! magenta dark/light
Rxvt.color5:        [70]#FF77FF
Rxvt.color13:       [80]#FF77FF

! cyan dark/light
Rxvt.color6:        [70]#77FFFF
Rxvt.color14:       [80]#77FFFF

! white dark/light
Rxvt.color7:        [70]#DDDDEE
Rxvt.color15:       [80]#EEEEFF
!!}}}
!!}}}
!!{{{ Rofi
rofi.font:dina 8
rofi.fake-background:background
rofi.fake-transparency:true
rofi.matching:fuzzy
rofi.sort:true
rofi.modi:
rofi.show-icons:true
!           State: #Bg      , #fg    , #bgalt   , #hlbg  , #hlfg
rofi.color-normal: #00000000, #DDBBBB, #00000000, #663333, #EEDDDD
rofi.color-urgent: #00000000, #DDBBBB, #00000000, #663333, #EEDDDD
rofi.color-active: #00000000, #DDBBBB, #00000000, #663333, #EEDDDD
!                  #bg        #border  #separator
rofi.color-window: #CC221111, #221111, #221111
!!}}}
! vim:foldmethod=marker foldmarker={{{,}}}
